body {
    font-family: Arial, sans-serif;
    background-image: url('../img/menuBox/main_page.jpg'); /* 背景图片 */
    background-size: 100% auto; /* 图片大小覆盖整个页面 */
    background-position: center; /* 图片居中对齐 */
    background-repeat: no-repeat; /* 图片不重复 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* 半透明白色背景，使内容易读 */
    background-image: url('../img/menuBox/menu_backgroud.png'); /* 背景图片 */
    background-repeat: no-repeat; /* 图片不重复 */
    background-size: cover;
    width: 80%; /* 增加容器宽度为80% */
    max-width: 250px; /* 最大宽度 */
    height: 37vh; /* 设置高度为视口高度的80% */
    background-position: center; /* 图片居中对齐 */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* 居中容器 */
}


h2 {
    margin-bottom: 20px;
    color: white; /* 将文字颜色改为白色 */
    text-align: center; /* 居中显示 */
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form .inputBox {
    width: 100%;
    margin-top: 20px;
}



/* 登录按钮样式 */
 



.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap:5px; /* 设置按钮之间的间距 */
}

button {
    padding: 15px;
    width:150px; /* 使按钮的宽度相同 */
    background: linear-gradient(145deg, #0d0d0d, #1a1a1a); /* 科幻风格背景渐变 */
    color: #0dd7ff; /* 按钮文本颜色 */
    border: 2px solid #0dd7ff; /* 按钮边框颜色 */
    border-radius: 15px;
    font-size: 18px;
    font-family: '仿宋', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease; /* 过渡效果 */
    display: block;
    box-shadow: 0 4px 15px rgba(13, 215, 255, 0.4); /* 按钮阴影 */
    position: relative; /* 相对定位 */
    overflow: hidden; /* 隐藏超出内容 */
}

button:hover {
    color: #fff; /* 鼠标悬停时文本颜色 */
    background: linear-gradient(145deg, #1a1a1a, #0d0d0d); /* 悬停时背景渐变反转 */
    box-shadow: 0 0 20px #0dd7ff, 0 0 30px #0dd7ff, 0 0 40px #0dd7ff; /* 鼠标悬停时发光效果 */
}

button:active {
    background: linear-gradient(145deg, #0d0d0d, #1a1a1a); /* 按钮点击时的背景色 */
    box-shadow: 0 2px 5px rgba(13, 215, 255, 0.5); /* 按钮点击时的阴影效果 */
    transform: translateY(2px); /* 按钮点击时的动画效果 */
}

#registerBtn {
    background-color: #28a745;
}

#registerBtn:hover {
    background-color: #0056b3;
}

p {
    color: red;
    text-align: center;
    margin-top: 10px;
}



