body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    display: flex;
    flex-direction: column; /* 设置为竖直排列 */
    align-items: center; /* 元素靠右对齐 */
    justify-content: center; /* 垂直方向居中 */
    position: absolute; /* 绝对定位 */
    left: 330px; /* 离右边20像素 */
    top: 630px; /* 垂直方向50% */
    transform: translateY(-50%); /* 将导航栏中心点移到垂直中心位置 */
    background-color: #000000;
    padding: 20px;
    width: 250px;
    border-radius: 10px 0 0 10px; /* 只在左边设置圆角 */
    height: 500px;
    
}
.navbar h2 {
    margin: 0 0 20px 0; /* 移除顶部和底部外边距，并在底部添加20像素的间距 */
    color: #fff;
    text-align: right; /* 文本对齐到右边 */
}
.navbar button {
    background-color: #f3f0e7;
    border: none;
    padding: 20px;
    width: 100%;
	height: 100%;
    font-family: 幼圆;
    font-size: 40px; /* 增加字体大小 */
    font-weight: bolder;
	border: 5px;;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px 0 0 10px; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: #61a2a2;
    color: #fff;
}
.text-box {
    position: absolute; /* 绝对定位 */
    left: 620px; /* 确保文本框位于导航栏右侧外边 */
    top: 630px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6); /* 背景颜色透明度40% */
    color: #fff; /* 文本颜色 */
    padding: 20px;
    border-radius: 5px;
    width: 800px; /* 设置文本框的宽度 */
    height:500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
    
    align-items: center;
    justify-content: center;
    text-align: left;
    overflow-y: auto; /* 允许文本框内容滚动 */
}
.text-box h1 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 20px;
    width: 100%;
    
    line-height: 1.5;
}

.text-box p, .text-box ul {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  
}
.content {
    display: none;
}

#home {
    display: block;
}
.banner {
    background: linear-gradient(to right, rgba(88, 3, 3, 0.6), rgba(100, 74, 87, 0.6));
    color: #fff;
    padding: 60px 0;
}
.banner h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-indent: 20px;
}

.banner p {
    font-size: 1.2rem;
    text-indent: 20px;
}
h1 {
    color: #007bff;
}
