body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    background-image: url(back22.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mescontainer{
    background-color: rgba(255, 255, 255, 0.501);
    border-radius: 40px;
    width:200px;
    margin: 10px;text-align: center;
}
.mescontainer:hover {
    background-color: rgba(255, 255, 255, 0.6); /* 鼠标悬停时背景变为完全透明 */
}
h2 {
    margin-bottom: 20px;
    color:rgb(1, 1, 1);
    font-weight: bold;
}

#puzzle-container {
    display: grid;
    grid-template-columns: repeat(4, 80px); 
    grid-template-rows: repeat(4, 80px); 
    gap: 3px;
}

.puzzle-piece {
    width: 80px;
    height: 80px; 
    border: 1px solid #000;
    box-sizing: border-box;
    background-image: url('photo.png'); /* 使用实际的拼图图像 */
    background-size: 320px 320px; /* 根据拼图的实际大小调整 */
}

#piece1 { background-position: 0 0; }
#piece2 { background-position: -80px 0; }
#piece3 { background-position: -160px 0; }
#piece4 { background-position: -240px 0; }
#piece5 { background-position: 0 -80px; }
#piece6 { background-position: -80px -80px; }
#piece7 { background-position: -160px -80px; }
#piece8 { background-position: -240px -80px; }
#piece9 { background-position: 0 -160px; }
#piece10 { background-position: -80px -160px; }
#piece11 { background-position: -160px -160px; }
#piece12 { background-position: -240px -160px; }
#piece13 { background-position: 0 -240px; }
#piece14 { background-position: -80px -240px; }
#piece15 { background-position: -160px -240px; }
#piece16 { background-position: -240px -240px; }

#message {
    margin-top: 20px;
    font-size: 24px;
    color: rgb(239, 127, 243);
}

body.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}
#skip-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #e854b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #skip-button:hover {
    background-color: #d039b7;
  }
  
  .navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    padding: 1px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    text-align: left;
    color: #f8e7e7;
  }
  .navbar a {
    text-decoration: underline;
    color: #d8bcbc;
    font-size: 18px;
    font-family: sans-serif;
  }
  