body {
    font-family: "微软雅黑";
    background-image: url("images/背景.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }

#contents{
    background-color: rgba(193, 205, 216, 0.75);
    width:70%;
    margin-left: 15%;
    margin-top: 50px;
    text-align: center;
    border-radius:10px;  
}

#contents h2{
    font-size: 50px;
}

#tests{
    width:80%;
    margin-left: 10%;
    text-align: justify;
    font-size: 20px;
    text-indent: 40px;
    line-height: 40px;
}



#pic{
    width:300px;
    height:300px;
    float: right;
    text-align: center;
}