* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body {
	width: 100%;
	height: 100vh;
}
.wrap {
	width: 100%;
	height: 100vh;
	background: #999;
}
.vid {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/*对象匹配*/
	display: block;
}
.mask::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: linear-gradient(to left, red,blue,pink,green); */
	/*背景渐变色*/
	mix-blend-mode: color;
	/*颜色混合模式*/
}
.mask {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.mask span {
	font-size: 80px;
	color: #fff;
	font-weight: 900;
	padding: 0 0.2em;
	transform: rotateY(90deg);
	animation: move 2s forwards;
	/*forwards向前*/
}
.mask span:nth-child(1) {
	animation-delay: 17s;
	/*动画延迟*/
}
.mask span:nth-child(2) {
	animation-delay: 15s;
}
.mask span:nth-child(3) {
	animation-delay: 13s;
}
.mask span:nth-child(4) {
	animation-delay: 11s;
}
.mask span:nth-child(5) {
	animation-delay: 9s;
}
.mask span:nth-child(6) {
	animation-delay: 7s;
}
.mask span:nth-child(7) {
	animation-delay: 5s;
}
.mask span:nth-child(8) {
	animation-delay: 3s;
}
.mask span:nth-child(9) {
	animation-delay: 1s;
}

@keyframes move {
	100% {
	transform: rotateY(0deg);

	}

}